.policy-page {
    .policy {
        margin-bottom: 100px;
        &__title {
            font-weight: 700;
            font-size: 45px;
            line-height: 55px;
            color: #000;
            max-width: 692px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 33px;
            position: relative;
        }
        &__title::before {
            content: "";
            background: url("../../../img/svg/leaflet.svg") center no-repeat;
            background-size: cover;
            width: 32px;
            height: 25px;
            position: absolute;
            top: 16px;
            left: 0;
        }
        &__title::after {
            content: "";
            background: url("../../../img/svg/leaflet.svg") center no-repeat;
            background-size: cover;
            width: 32px;
            height: 25px;
            position: absolute;
            top: 16px;
            right: 0;
        }
        &__text {
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            max-width: 100%;
        }
        span {
            display: block;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            margin-top: 35px;
            margin-bottom: 20px;
            color: #1E6140;
        }
        &__item {
            list-style-type: initial;
            list-style: inside;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #000;
        }
    }
}