:root {
	--news-slider-arrowL: #84BE51;
	--news-slider-arrowR: #84BE51;
    --action-slider-arrowL: #84BE51;
    --action-slider-arrowR: #84BE51;
    --color-cart: #8C3213;
    --color-compare: #8C3213;
    --color-phone: #8C3213;
    --color-mail: #8C3213;
}
