.partners-page {
    .partners {
        margin-bottom: 118px;
        &__title {
            font-weight: 700;
            font-size: 45px;
            line-height: 55px;
            color: #000;
            max-width: 300px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 27px;
            position: relative;
        }
        &__title::before {
            content: "";
            background: url("../../../img/svg/leaflet.svg") center no-repeat;
            background-size: cover;
            width: 32px;
            height: 25px;
            position: absolute;
            top: 16px;
            left: 0;
        }
        &__title::after {
            content: "";
            background: url("../../../img/svg/leaflet.svg") center no-repeat;
            background-size: cover;
            width: 32px;
            height: 25px;
            position: absolute;
            top: 16px;
            right: 0;
        }
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fill, (minmax(540px, 1fr)));
            justify-items: center;
            align-items: center;
            gap: 28px 30px;
        }
    }
    .partners-item {
        &__inner {
            display: flex;
            gap: 0 20px;
            align-items:center;

        }
        &__title {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #000000;
            max-width: 236px;
        }
        &__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            margin-top: 17px;
            max-width: 486px;
            color: rgba(0, 0, 0, 0.5);
        }
    }
}