.dogovir-page {
    .dogovir {
        margin-bottom: 108px;
        &__title {
            font-weight: 700;
            font-size: 45px;
            line-height: 55px;
            color: #000;
            max-width: 672px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 32px;
            position: relative;
        }
        &__title::before {
            content: "";
            background: url("../../../img/svg/leaflet.svg") center no-repeat;
            background-size: cover;
            width: 32px;
            height: 25px;
            position: absolute;
            top: 16px;
            left: 0;
        }
        &__title::after {
            content: "";
            background: url("../../../img/svg/leaflet.svg") center no-repeat;
            background-size: cover;
            width: 32px;
            height: 25px;
            position: absolute;
            top: 16px;
            right: 0;
        }
        &__text {
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            max-width: 100%;
        }
        &__link {
            font-size: 16px;
            line-height: 20px;
            color: #000000;
        }
        &__list {
            counter-reset: item;
        }
        &__item {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
        }
        &__item span {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #1E6140;
        }
        &__item::before {
            content: counters(item, '.') '';
            counter-increment: item;
            margin-right: 6px;
        }
        &__item--num{
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #1E6140;
            margin-top: 30px;
        }
        
    }
}